/* Hero Section */
.hero-section {
    display: flex;
    background: linear-gradient(to top right, #01141a, #01222c);
    background-size: cover;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8% 0 10%;
    text-align: left;
    height: 82vh;
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .hero-image {
    max-width: 45%;
  }
  
  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    .hero-image {
      display: none; /* Hide the image on devices smaller than 768px */
    }
  }
  
  .headline {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .subheadline {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #ff5722;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #e64a19;
  }
  