/* How It Works Section */
.how-it-works {
    padding: 20px 10px;
    text-align: center;
  }
  
  .how-it-works h2 {
    font-size: 2.5rem;
    margin-bottom: 60px;
    font-weight: 600;
  }
  
  /* Zig-Zag Layout */
  .step-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .step-row.reverse {
    /* flex-direction: row-reverse; */
  }
  
  .step-image {
    width: 300px;
    max-width: 90%;
  }
  
  .step-text {
    max-width: 400px;
    text-align: left;
  }
  
  .step-text h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .step-text p {
    color: #555;
    font-size: 1rem;
  }
  